html body{
    height: 100%;
}
body{
    margin: 0;
}
*{
    background-color: white;
}

h1{
    display: flex;
    justify-content: center;
    
}

.container{
    border-radius: 5px;
    box-shadow: 0 2px 10px rgb(0, 0, 0, 30% );
    max-width: 80%;
    padding: 100px 10% 100px 10%;
    display: grid;
    column-width: 400px;
    column-rule-width: 400px;
    justify-content: center;
    justify-items: center;
    min-height: 80%;
    text-align: center;
}
.short{
    max-width: 700px;
    display: flex;
    justify-content: center;
}
.arrows{
    padding: 30px 0px 30px 0px;
}
.generator{
    padding-bottom: 50px
}